[2016-10-05 22:44] jmitch0901 opened #2 "Project with path ':ReactAndroid' could not be found in project ':react-native-sms'"
Gradle build error when attempting to build on Android:

Project with path ':ReactAndroid' could not be found in project ':react-native-sms'

[2016-10-06 19:19] tkporter commented on #2
Hey there,

Could you check out your `build.gradle` and post any lines that include `react-native-sms`?

Thanks!

[2016-10-08 16:14] jiangsumadai commented on #2
Hi @tkporter , I get the same error when build on android.

A problem occurred evaluating project ':react-native-sms'.
Project with path ':ReactAndroid' could not be found in project ':react-native-sms'

[2016-10-08 20:42] tkporter commented on #2
Could you both post your entire `settings.gradle` and `build.gradle` files? Those are found in the `android` directory.

[2016-10-09 02:58] jiangsumadai commented on #2
This is my gradle files, thanks for your help.

[gradle.zip](https://github.com/tkporter/react-native-sms/files/518070/gradle.zip)

[2016-10-09 04:30] jiangsumadai commented on #2
Entire gradle files @tkporter

[gradle.zip](https://github.com/tkporter/react-native-sms/files/518095/gradle.zip)

[2016-10-10 04:50] zelll commented on #2
@jiangsumadai , try this

[code]

[2016-10-24 15:08] jiangsumadai commented on #2
@zelll , sorry for my late feedback of your suggestion, but it works very well, thank you.

[2016-10-24 17:29] #2 closed

[2016-10-26 08:49] mikaoelitiana commented on #2
I created a PR to fix this because we don't want to edit files in node_modules for each build.

[2016-11-09 00:08] larubbio opened #4 "Project with path ':ReactAndroid' could not be found in project ':react-native-sms'."
Using the latest release (1.3.0) I'm unable to use this on android.  It looks like a fix was merged in PR #3 but a new release needs to be made.

[2016-11-09 00:20] tkporter commented on #4
Just updated it on npm-- check it out under v1.4.0

Thanks for the reminder!

[2016-11-09 00:20] #4 closed

[2016-11-15 18:02] dudeinthemirror opened #5 "Compilation error"
We are starting to get this error during daily builds:

[code]

[2016-12-04 13:23] efelem opened #6 "Issue compiling on Linux - default name for Android directory (no capital ?)"
Hello,

In order to make it build on my ubuntu machine for `react-native run-android` I had to do

`mv ./node_modules/react-native-sms/Android ./node_modules/react-native-sms/android`.

[2017-01-09 10:16] dpiaseckisoldevelo commented on #6
Hello,
it fixed my problem:
`Cannot evaluate module react-native-sms : Configuration with name 'default' not found.`
Thanks

[2017-01-10 20:25] tkporter commented on #6
Hi guys, thanks for the feedback. I'll change that when I get to my computer and publish it on NPM under version 1.4.1

[2017-01-21 00:06] gulsahkandemir opened #8 "Uses deprecated permission api"
Getting the following warning when we use your library:

`"PermissionsAndroid.requestPermission" is deprecated. Use "PermissionsAndroid.request" instead`

I think it's how the permission is checked in index.js.

[2017-01-24 14:01] kfiroo opened #9 "Android READ_SMS permissions clarification"
Hey @tkporter, thanks for the great package :)
Just wondering why we need to request `PermissionsAndroid.PERMISSIONS.READ_SMS` permission?
Also, we don't currently use the M Permission model in our android app, is it possible to declare this permission in the manifest instead of requesting it on `send`?

[2017-01-24 19:28] tkporter commented on #9
Hi! If I recall correctly, READ_SMS was required in order to get proper callbacks (completed/cancelled/error). One of the main reasons for this package was so we could get accurate information on the results of the SMS so we could get better information on our application.

Permissions can definitely be scary to a user-- if getting callbacks are not necessarily a priority then it could be worth re

[2017-01-25 11:59] kfiroo commented on #9
Thanks @tkporter, that makes sense :)

I think I'll end up using the `sms:` schema as I don't really need the callback at the moment.

[2017-01-25 11:59] #9 closed

[2017-02-02 01:46] #6 closed

[2017-02-03 17:34] kiki-le-singe commented on #8
@gulsahkandemir You're right. I get this warning too.

This is the documentation about the [requestPermission method](https://facebook.github.io/react-native/docs/permissionsandroid.html#requestpermission) `"DEPRECATED - use request"`

Maybe could you do a PR?

Thanks :)

[2017-02-20 20:30] jcharbo commented on #8
this seems to fix it
https://github.com/thejump/react-native-sms

[2017-02-22 18:19] tkporter commented on #8
Just fixed with #11 thanks to @kfiroo

[2017-02-22 18:19] #8 closed

[2017-03-02 05:21] drytdubs opened #13 "possible linking issue on android side"
I'm running into a hiccup on android, with the error below.

[code]

points to the following section of the js bundle:
[code]

I've re-installed this library and gone through the whole setup a couple of times now.

I'm running RN 38.1 on this project and have triple checked the android install instructions as well as the Troubleshooting section. Everything on the iOS side is fine. Thanks in advanc

[2017-03-02 19:56] drytdubs commented on #13
resolved that this was a problem with the navigation stack we are using.

The package needed to be also hooked into getAdditionalReactPackages to work with react-native-navigation 2.0

[2017-03-02 19:56] #13 closed

[2017-03-03 10:29] kiki-le-singe commented on #8
Hi @tkporter

Is it possible you publish a new version on npm with this fix? Currently it's 1.4.1 and there is still "PermissionsAndroid.requestPermission".

Thanks for your time

[2017-05-19 20:06] sibelius commented on #5
@dudeinthemirror is this still happening?

[2017-05-19 20:15] dudeinthemirror commented on #5
@sibelius : no, it is not. Closing this ticket now. Thank you.

[2017-05-19 20:15] #5 closed

[2017-05-22 19:51] DeanKamali opened #14 "How can I complete sending SMS"
Hello,

I have installed and configured this library on my Android phone, following the example in documentation when I invoke `someFunction` it composes a text message window that has the body and recipients, however it doesn't send the SMS message unless I press send.

How can I go about automating that?  so that when I call `someFunction` it will send the text message without having to press se

[2017-05-23 20:47] tkporter commented on #14
Hi!

The original intent wasn't to integrate automatically sent SMS messages (especially as this is only available for Android, and not iOS). That said, you're welcome to fork and create a PR with an option to autosend for Android. I haven't personally implemented autosending SMS but [here's a jumping off point if you're interested](https://stackoverflow.com/questions/7620150/can-i-automatically-s

[2017-06-05 15:54] VBulikov opened #15 "Android send sms without pointing recipient"
Hello got some strange behaviour when trying to send sms via android without defining at least one phone number in "recipients" folder:
it provides android recipient choosing page and when i choose one - it opens sms window BUT without prefilled text defined in "body". How could i solve this problem?

Same code works fine on iOS. If predefine recipient - everything works fine as well.
Thanks for h

[2017-06-12 18:00] sibelius commented on #14
@DeanKamali any progress on this?

[2017-06-21 04:09] coolmsd opened #16 "Does it work in ios too?"

[2017-06-25 02:33] tkporter commented on #16
Yes! This works for android and iOS.

[2017-06-25 02:33] #16 closed

[2017-07-04 19:40] tkporter commented on #15
Hey @VBulikov, is this still an issue for you?

[2017-07-08 16:59] tmaly1980 commented on #14
@tkporter , I'm just confirming what you mean by "only available for Android and not iOS" is that auto-sms features are not possible AT ALL on iOS platforms in their SDK? It's a bit confusing reading your comment when I'm not sure whether you're saying auto-SMS isn't possible on iOS or whether you just chose not to implement that even though it's possible. I entirely understand Apple's general pol

[2017-07-08 17:18] tmaly1980 opened #17 "Callback failure"
I'm not getting any results from the callback OTHER than 'completed: false, cancelled: true, error: false", whether I press back during the message composition or I actually send the message.

Is there a way to know whether the text messages were actually sent or not? I'm needing both Android and iOS solutions, but it seems like I'm more than likely going to have to move away from SMS and toward p

[2017-07-08 17:22] tmaly1980 opened #18 "Can't get body to pre-fill"
I'm noticing with your example:

[code]

The body message doesn't get filled in at all. In fact, it happens to say MMS instead of SMS and there is a blank second recipient, ie there's a comma at the end of my only recipient, even though my recipients parameter looks like ["1234567890"]

I'm having this issue on Android (my actual phone with KitKat). I've used react-native-communications and that p

[2017-07-19 15:41] novotny commented on #14
Hello,
I have one question. If we can't send a SMS automatically (on background) how can I return back to the app after sending a message? I my example it return to the android homescreen and user have to open the app manually.

Thanks

[2017-07-21 15:57] efelem opened #19 "SendSMS.send got 4 arguments, expected 3"
Hello,

When running in `releaseMode` on real Android devices (tested on HTC one, samsung galaxy s7, samsung galaxy s5) the app crashes at the moment we run `SendSMS.send`.

When connecting the device to the phone and running adb logcat gives a `NativeArgumentsParseException: SendSMS.send got 4 arguments, expected 3` the full error looks like this :

[code]

The code sending the sms looks like thi

[2017-07-29 19:57] tmaly1980 commented on #18
Actually, this does work. If you press send, then it goes back to the app. But the 'Type message' line APPEARS blank. I pressed send anyway, then went back to my messages, to see that it filled in the content ok.

[2017-07-29 19:57] #18 closed

[2017-08-01 15:32] jbonneylifesize commented on #15
Android "Messages" app & iOS seem fine, but Pixel "Messenger" app has the behavior above.
- excluding the recipients key in the configuration object will send you to the recipient choosing page in Pixel Messenger and clear the pre-defined text body
- setting the recipients key to an empty array in the configuration object will send you to the recipient choosing page in Pixel Messenger and clear th

[2017-08-11 19:45] CWright777 opened #22 "SMS tray doesn't open on ios - flashes black for less then a second instead"
I am successfully using this in one part of my ios app but it does not work in another spot. I call the send method and it flashes black for less then a second. It is not being blocked by another modal. There does not appear to be any errors in the xcode logs. Has anyone else experienced this issue?

Thanks!

[2017-08-11 20:36] CWright777 commented on #22
Apologies, I was passing in an undefined mobile number into recipients 😓

[2017-08-11 20:36] #22 closed

[2017-08-23 04:29] EroticCode opened #23 "this packet use sim for sms ?"

[2017-08-23 05:47] tkporter commented on #23
Hey @EroticCode could you elaborate a little more on what you're looking for?

[2017-08-24 07:47] udave216 opened #24 "recipient add. duplicate or invalid contacts not added."
Hi.

i use this code:

SendSMS.send({
      body: this.state.activateCode,
      recipients: ["+44..."],
      successTypes: ['sent', 'queued']
    }, (completed, cancelled, error) => {
      if (completed) {
      } else {
      }
    });

and open default android sms manager!

i want to send in background.

How do I do this?

Thanks for help.

[2017-08-30 10:13] tsmrafee-bs opened #25 "undefined is not an object (evaluating '_reactNative.NativeModules.SendSMS.send')"
when i called the send this error occurs

![image](https://user-images.githubusercontent.com/27723951/29867673-19ecb0d4-8d9e-11e7-9cbd-0e2672a3acc1.png)

[2017-09-15 16:35] anoopmm opened #26 "Message not pre filling in android device"
#18

[2017-09-24 09:16] sabatsu opened #27 "package com.tkporter.sendsms does not exist"
Hey
I get package com.tkporter.sendsms does not exist when trying to follow your example
Could you please help me with that?

[2017-09-28 18:59] sibelius commented on #25
@tsmrafee-bs it looks like you are using expo?

I don't think expo support this package

[2017-09-28 19:00] sibelius commented on #23
@EroticCode what do you mean?

@tkporter I think you can close this

[2017-09-28 19:03] sibelius commented on #19
is this still happening to you?

[2017-09-28 19:03] sibelius opened #28 "how to correctly handle permission?"
I've got this error:

[code]

[2017-09-28 19:12] sibelius commented on #27
@sabatsu did you do

`react-native link`?

it is working fine for me

[2017-09-28 19:26] sabatsu commented on #27
Thx
Tried - but didnt help
Will try again

On Thu, Sep 28, 2017 at 10:12 PM, Sibelius Seraphini <
notifications@github.com> wrote:

--
IDO

[2017-09-28 21:55] tkporter commented on #28
Hey @sibelius, have you tried adding `<uses-permission android:name="android.permission.READ_SMS" />` to the AndroidManifest.xml? Found [here](https://github.com/tkporter/react-native-sms#additional-android-setup)

[2017-09-28 22:31] sibelius commented on #28
I have READ_SMS on my androidManifest

Maybe if this check fail https://github.com/tkporter/react-native-sms/blob/master/index.js#L9

we should no try to send a SMS

[2017-09-28 23:44] tkporter commented on #28
Yeah, I think you're right. When you run the app do you get a little alert asking for the READ_SMS permissions? I just got a new computer and don't have Android Studio set up, so it'd be great if you could submit a PR. It'd be great to keep it similar to the example in the docs: https://facebook.github.io/react-native/docs/permissionsandroid.html and maybe add a generic title and message like they

[2017-09-28 23:45] tkporter commented on #26
I haven't had the opportunity to reproduce this, is it happening with a specific device? It seems pretty undesirable to not have the message body be shown (even if pressing "send" still sends the pre-filled message)

[2017-09-28 23:49] sibelius commented on #28
I think it is better to keep this package simpler

And let the user code handle permission

What do u think?

We can do a breaking change on semver and stop asking for permission

[2017-10-08 16:38] andreatoso opened #30 "Cannot read property 'send' of undefined (Unhandled Promise Rejection)"
Hi, I just installed this module and when I try to send a message I get this error:

`Possible Unhandled Promise Rejection (id: 0):
TypeError: Cannot read property 'send' of undefined`

If I do console.log(SendSMS) I can see that it is not undefined, so why I get this error?

[2017-10-09 06:19] esb1 commented on #30
Hey andretaoso.
I got the same error before I ran the clean command (cmd + k) in xcode and rebuilt the app.
Maybe try this if you haven't already. (react native module `SendSMS` will not be undefined, but maybe some of the native dependencies could be...)

[2017-11-05 14:23] ChauVV opened #32 "text messaging is not available."
<img width="342" alt="screen shot 2017-11-05 at 9 19 17 pm" src="https://user-images.githubusercontent.com/16476877/32415663-a0ad4718-c26f-11e7-94d2-14382d782d16.png">
on IOS, i can not send message

[2017-11-06 20:57] lautapercuspain commented on #32
This is the message you got in the simulator, in a real device you should be fine.

[2017-11-07 19:30] lautapercuspain opened #33 "Send an sms in the background"
Hi all,

Very nice package. I would like to ask you guys, if you know if there´s possible to send an SMS in the background, without going to the iMassage interface, so I can keep the user on my app, all the time. Thanks for your help.

[2017-11-07 23:02] tkporter commented on #33
Hey @lautapercuspain, I'm fairly sure that there are some restrictions imposed by iOS to prevent an app sending an SMS in the background on behalf of a user. However, I believe Android allows background SMS sending (I'm happy to accept a PR for that).

[2017-11-07 23:03] tkporter commented on #32
@ChauVV Closing for now, feel free to reopen if this is an issue on a physical device.

[2017-11-07 23:03] #32 closed

[2017-11-08 16:09] lautapercuspain commented on #33
Hey @tkporter , Yes I´ve confirmed that there are restrictions by iOS. I´m working with iOS at the moment and I´m aware that Android is moving in a similar direction. So let´s use it, through the correct platform interface for now. ¯\_(ツ)_/¯

[2017-11-08 16:09] #33 closed

[2017-11-18 08:54] levibotelho opened #35 "Multiple recipients don't display correctly in Android"
Not sure if this is a problem with Android or the lib, but figured I'd bring this up.

If I create an SMS to two recipients in Android, my screen looks like this:

![image](https://user-images.githubusercontent.com/3420522/32978609-fe1fb752-cc45-11e7-8b45-734b46beb049.png)

However if I create an SMS to two recipients via the lib, I get this:

![image](https://user-images.githubusercontent.com/342

[2017-11-18 09:23] levibotelho commented on #35
Looking a bit more deeply into this it might be due to the device I'm on (Pixel 1 emulator). Not sure if it just requires a comma separator or if it's simply not possible on this device. Can investigate further if you want help...

[2017-11-21 20:13] willbenmitch commented on #27
@sabatsu did you add the following to `MyApp/android/app/build.grade`?
[code]

See #36 for changes to README

[2017-11-21 20:19] sibelius commented on #27
can we close this?

[2017-11-21 20:21] willbenmitch commented on #27
It solved the issue for me, and doesn't look like anything else is missing from the installation steps.

[2017-11-27 22:20] rlyshw commented on #26
Confirmed on my emulator running Nexus 5X API 25, 7.1.1 (Google Play), x86.

Basically the same as #18 except pressing SEND doesn't do anything, there is no "hidden" text in the input box or anything.

[2017-12-03 18:14] daemir opened #38 "Malformed calls from JS, field sizes are different."
Has anyone had this issue before? I'm literally using the same code as in the description.
`SendSMS.send(
        {
          body: this.state.message,
          recipients: ['00432321312'],
          successTypes: ['sent', 'queued'],
        },
        (completed, cancelled, error) => {
          this.props.navigation.navigate('Overview');
        },
      );
`

![grafik](https://user-images.gith

[2017-12-03 18:21] daemir commented on #38
I'm using react-native@0.50.3

[2017-12-04 18:44] tkporter commented on #38
@daemir Could you try removing the trailing comma at the very end? I think the extra comma is posing issues with the number of arguments expected.
So instead use `SendSMS.send( { body: this.state.message, recipients: ['00432321312'], successTypes: ['sent', 'queued'], }, (completed, cancelled, error) => { this.props.navigation.navigate('Overview'); });`

[2017-12-04 19:45] daemir commented on #38
Still facing the same issue, didn't work :/

[2017-12-04 19:46] daemir commented on #38
Does it work for you in the newest RN version?

[2017-12-12 07:23] lusealover opened #39 "just wondering if anyone has a full working example using this project?"

[2017-12-21 17:12] AuroreM opened #41 "Always a blank recipient is added on Android"
Hello @tkporter
I've got an issue with my android phone, as the lib is always adding an extra number which corresponds to a white space :
![whatsapp image 2017-12-21 at 18 05 56](https://user-images.githubusercontent.com/15011364/34266752-ae16b180-e67a-11e7-9b33-cae704df5cca.jpeg)

I think it's coming from this line, as the separator is adding a whitespace : https://github.com/tkporter/react-nativ

[2017-12-21 20:27] tkporter commented on #41
Hmm, thanks for finding this! It seems like the separators end up largely being manufacture-dependent, so if you find what the fix is for your phone feel free to submit a PR!

[2017-12-23 10:26] AuroreM commented on #39
@lusealover I'm actually using it for a small project.
The app is only available on Hockeyapp for private use, but here is the code: https://github.com/AuroreM/nholeMobileApp

[2017-12-25 14:31] daemir commented on #38
I fixed it, it was a really stupid mistake.
Used a ``onChange`` prop instead of ``onChangeText`` on my TextInput.

[2017-12-25 14:31] #38 closed

[2017-12-28 22:55] #41 closed

[2017-12-29 01:19] tkporter commented on #41
Just published under v1.5.1 to include this

[2018-01-08 12:21] fredrikp commented on #26
@tkporter: I have this problem also. Android 7.1.1 running on a Nexus 6. Using the standard Android "Messages" app. The input field for message text is empty with a placeholder ("Type an SMS message"). The send button is disabled.

It turns out that the solution to this is to not only send the body like this:
sendIntent.putExtra("sms_body", body);
but also like this:
sendIntent.putExtra(sendIntent

[2018-01-12 01:52] tkporter commented on #26
Closing this after #43 and will republish under version 1.5.2 later today. Feel free to reopen if this issue continues!

[2018-01-12 01:52] #26 closed

[2018-01-12 01:53] #39 closed

[2018-01-12 01:53] tkporter commented on #30
Closing, if this issue persists feel free to open

[2018-01-12 01:53] #30 closed

[2018-01-12 01:55] tkporter commented on #35
Hi @levibotelho, were you able to find a potential solution or reason for this behavior?

[2018-01-12 07:53] levibotelho commented on #35
No.

[2018-04-30 16:58] xavi opened #46 "NullPointerException on calling `SendSMSPackage.onActivityResult`"
Our logs show that the most popular crash of our app is

[code]

So, I understand that the `sendSms` in [this line](https://github.com/tkporter/react-native-sms/blob/a464d0db4c4351e1b90e9b28a594903c8eb006a7/android/src/main/java/com/tkporter/sendsms/SendSMSPackage.java#L49) is `null`.

That's called from the app's MainActivity.java

[code]

Any idea on what's the problem?
Thanks in advance.

[2018-04-30 18:15] tkporter commented on #46
Hey @xavi, I'm taking a look now and it seems like `getInstance()` might be starting with `instance` as null and then creating a new instance without initializing `sendSms`. Could you check to see if `instance` is null when `getInstance()` is called by `SendSMSPackage.getInstance().onActivityResult(requestCode, resultCode, data);`?

That might help understand why `sendSms` is not initialized prope

[2018-05-15 15:02] xavi commented on #46
Hi @tkporter, sorry for the late reply, I was busy with other things.

I can't check if `instance` is null when `getInstance()` is called because I can't reproduce it. This is a type of crash that some users of our app are having. I guess the only way to check it would be to put some logging in `SendSMSPackage.getInstance()`. We can do that but it will take time because requires a new release of t

[2018-05-16 12:39] xavi commented on #46
Is the line `SendSMSPackage.getInstance().onActivityResult(requestCode, resultCode, data);` in `MainActivity#onActivityResult` really necessary? That's the line that leads to the crash, so I tried deleting it, and SMS sending still seems to work.

[2018-05-17 11:56] rajatpillai commented on #25
I am not using EXPO but still facing this issue can anyone help me.
The error is " [TypeError: undefined is not a function (evaluating '_reactNativeSms2.default.list')] ".

[2018-06-16 03:28] vietnd87 opened #47 "Error on react native v0.53 - com.facebook.react.bridge.ReadableNativeMap cannot bt cast to java.lang.String"

[2018-07-20 12:24] Yoruba opened #49 "Merge pull request"
Can someone merge the pull request?
Would be nice you have those pull request features/fixes.

Thanks, Adri

[2018-07-20 17:59] tkporter commented on #49
Hey Yoruba-- I'll take some time this afternoon to go through/clean up PRs. I'll update here when I publish a new version of the package.

[2018-07-30 12:49] mousikosk commented on #46
Hello @tkporter. I observed the same on a LG G4c with Android 6.0 and had reports from users with Android 5 and 4. I changed SendSMSPackage.java:48 to `public void onActivityResult(int requestCode, int resultCode, Intent data) {
        if (sendSms != null) {
            sendSms.onActivityResult(null, requestCode, resultCode, data);
        }
    }` and my app did not crash (but did not resume eit

[2018-08-04 18:05] brownmagik352 commented on #47
I had a similar problem and for me my recipients were not wrapped within an array

[2018-08-04 18:11] brownmagik352 opened #50 "body repeats"
I've got the module working great, but no matter what body I put in (the default, blank spaces, the word TEST, etc), it always gets put in twice when pre-filling the message.

[code]

[2018-08-04 20:49] tkporter commented on #50
What device/OS version are you finding this issue with? Or is it all devices?

[2018-08-04 20:56] brownmagik352 commented on #50
I'm seeing it with Android. Specifically a Samsung S8. My default SMS app is Textra.

[2018-08-16 06:26] NextVictim commented on #17
I found that onActivityResult (in SendSMSModule.java) with resultCode RESULT_CANCELED was called before onChange (in SendSMSObserver.java) was called.
So it always returns: `result: false, canceled: true, error: false`
I deleted the line of code in the onActivityResult and solved.
`@Override
    public void onActivityResult(Activity activity, int requestCode, int resultCode, Intent data) {

[2018-09-13 06:00] isaaclem opened #54 "Default to MMS?"
[code]

First of all, as shown above, I wished to have a non-filled recipients but in the sms composer it will shows `Buddy Name` by default? And second issue is that instead of `New Message`, it's showing `New MMS`?

[2018-09-13 09:03] tkporter commented on #54
Have you tried not providing ‘recipients’ at all? That should fix the recipient issue.

I’ve never seen the MMS issue before— what platform/version is this?

[2018-09-26 09:51] AndrewBestbier opened #57 "Will the app fail if we do not have the READ_SMS permission?"
Hi there,

I previously wanted to use this library but it became problematic because of the 'READ_SMS' permission.

Is it possible to not include that permission at all and then use the `allowAndroidSendWithoutReadPermission` ?

Or does the app require this as a baseline and the `allowAndroidSendWithoutReadPermission` is only used to handle the case where the user denies the permission?

[2018-10-02 14:11] ObidosDev commented on #57
@AndrewBestbier Yes, it was my main idea for this key, and for now I am using this lib without 'READ_SMS' permission. :)

[2018-10-02 14:16] ObidosDev opened #58 "Fatal Exception: android.content.ActivityNotFoundException"
@tkporter Hello again :D

It is quite rare but some Android devices do not have any apps which may consume **android.intent.action.SEND**. Need to add check for it :)

[2018-10-02 14:57] AndrewBestbier commented on #57
Thanks @ObidosDev

[2018-10-02 14:57] #57 closed

[2018-10-15 13:17] ObidosDev commented on #57
@AndrewBestbier I have got the crash on Mi MAX2, but for many others it is ok. I have got solution locally, I am going to create issue

[2018-10-15 13:21] ObidosDev opened #59 "Crash: Permission required even with 'allowAndroidSendWithoutReadPermission={true}'"
I have got crash on Mi MAX 2. The solution for it is do not call `registerContentObserver`:
`
private static final Uri uri = Uri.parse("content://sms/");
resolver.registerContentObserver(uri, true, this);
`
@robinaugh this is for you may be interesting

[2018-10-24 10:40] zainulhasan commented on #25
I am also facing this issues @rajatpillai  any success?

[2018-10-31 11:18] Gazfay commented on #35
Have the same problem with devices on android 8.

[2018-11-05 11:42] robinaugh commented on #59
Thanks for the heads up @ObidosDev...we've seen a crash on another Xiaomi device as well (Mi 5). Do you want to put together a pull request with the fix you described above? If not, I may be able to get to it this week.

[2018-11-05 11:47] Gazfay commented on #35
Check it - https://github.com/Gazfay/react-native-sms/blob/master/android/src/main/java/com/tkporter/sendsms/SendSMSModule.java

[2018-11-12 16:30] robinaugh commented on #59
I've put up https://github.com/tkporter/react-native-sms/pull/60 to address this.

[2018-11-16 16:03] JordanProtin commented on #58
Hi !

I have the same issue. WIP ?
Thank's

[2018-11-27 18:08] chico opened #61 "resultCode is 0 (e.g. Activity.RESULT_CANCELED) when SMS message is successfully sent on Android"
When I test on my Android device but when the SMS is sent then the resultCode is always 0 (e.g. Activity.RESULT_CANCELED). Any ideas why?

I log the resultCode in the onActivityResult method.

[code]

[2018-12-13 12:55] vipinchauhan23 commented on #25
I am also facing this issues on ios but Android working fine.

[2019-01-04 06:30] lytrant commented on #14
I have the same question @novotny , haven't you fixed yet?
Can you help me to solve this problem?

[2019-01-05 07:55] Quadriphobs1 commented on #25
ios +1

[2019-01-08 17:46] dancherb commented on #35
@Gazfay thanks - this seems to fix the multiple recipients, but I'm now getting "cancelled" return as true instead of "success" when the messages are queued and I return to my app

[2019-01-09 16:58] dancherb commented on #35
@Gazfay actually take that back, tested on a physical device and things seem to be working - cheers again

[2019-01-09 17:35] dancherb commented on #35
@Gazfay false false-alert: I'm getting "cancelled" when returning to my app after sending to multiple recipients, though the status returns fine ("success") when sending to just one recipient. (sorry for all the notifications!)

[2019-01-09 17:35] dancherb commented on #61
I'm getting this when trying to send to multiple recipients (using Gazfay's code here that fixes a bug with sending to multiple - https://github.com/tkporter/react-native-sms/issues/35), though a single recipient seems to work fine

[2019-01-15 08:44] dancherb commented on #35
@Gazfay Just saw that you hooray'd my post - I'm actually reporting that there's still a bug: when you send a message to multiple recipients, the "success" status doesn't go through and you just get "cancelled" when you return to the app. (I'll delete previous replies for clarity.)

[2019-01-16 17:26] Quadriphobs1 opened #62 "Production Build Error on Android"
When build a production version the app I keep getting this error:
[code]

and I cant just find any means to comprehend whats happening here. Can anyone help please when I remove this package everything seems to be working fine back

[2019-01-21 16:00] nashivan commented on #62
I have the same problem :(

[2019-01-30 18:01] gamesover commented on #14
the `readme` really should use highlight the below statement
[code]
I think https://github.com/yeyintkoko/react-native-sms-x is what I want.

Just waste of 1 hour to config

[2019-01-31 15:31] murdocke opened #63 "Google Restrictions on SMS Restrictions"
With Google's new restrictions on sms/call log permissions, how do you recommend filling out the permissions declaration form when submitting your new APK to use react-native-sms.

[2019-02-07 17:03] dancherb commented on #63
I'm also having this issue - I don't need the "success tracking" that presumably READ_SMS is required for, I just want to send SMS's.

[2019-02-08 08:17] isurugajasinghe commented on #63
What we can do for this issue?

[2019-02-08 08:18] dancherb commented on #63
Is it possible to use the module to initiate SMS requests without requiring the READ_SMS permission? Presumably the READ_SMS permission is used to track the sent/success status, but this may not be required for many developers.

[2019-03-07 07:07] dancherb commented on #63
Deadline to remove read_sms from apps on the app store is coming up in 2 days - ideally I'd like to avoid removing the whole package, anyone figure something out? @isurugajasinghe @murdocke

[2019-03-07 10:22] vincentferniot commented on #25
After I installed the npm package, I deleted the app on emulator and stopped metro bundler, then rebuild the app and now I have this alert:

<img width="266" alt="capture d ecran 2019-03-07 a 11 20 39" src="https://user-images.githubusercontent.com/672002/53949795-19637d00-40cb-11e9-81a2-d4f4dc1d77b2.png">

Just need to check if it works on a real device now !

[2019-03-07 13:56] murdocke commented on #63
We started using platform specific code.  For IOS we kept with react-native-sms and for Android we installed react-native-send-intent.  We don't know if the message was truly sent or cancelled (so we just assume you sent the message) for Android users but at least they can still send out an sms.   @dancherb

[2019-03-07 21:14] ananyacleetus commented on #25
Is anyone else getting the same error but null is not an object?

[2019-03-17 06:28] navneet-kumar opened #65 "Change project description "SMS sender with callbacks for iOS and Android""
Hi @tkporter ,

Thank's a lot for the package, could you please change the description from "SMS sender with callbacks for iOS and Android" . to "SMS sender with callbacks for Android only iOS doesn't support sending SMS programmatically"

[2019-03-21 04:26] joeyscarim commented on #62
what worked for me was updating `node_modules/react-native-sms/android/build.gradle` to have:

[code]

[2019-03-21 04:34] tkporter commented on #65
Hey @navneet-kumar, I changed the description to be a little more clear. Let me know if you think the description still doesn't represent the repo well.

[2019-03-21 04:34] #65 closed

[2019-03-29 03:48] Quadriphobs1 commented on #25
I did manual linking, but still having this same issue, whenever `console.log(SendSMS);` it h`s the send in the object.

[2019-04-02 23:04] aurelienshz commented on #62
Instead of updating a file inside node_modules, which is not a reliable solution for projects shared with other developers, here's a way to override the problematic build config from the top-level build.gradle file (it's monkey-patching the changes that #56 brings in, from the root project Gradle config):

[code]

[2019-04-02 23:15] tkporter commented on #62
Hey @aurelienshz, I just merged #56. Does that fix the issue for you without the hack?

[2019-04-02 23:53] aurelienshz commented on #62
Hey @tkporter, thanks for the help! Just tried `"react-native-sms": "git+https://github.com/tkporter/react-native-sms.git#4451fcf"`, and without my build.gradle hack, and it seems to be working! Thanks a lot for the help!

[2019-04-03 00:15] tkporter commented on #62
Awesome, I just published v1.9.0!

[2019-04-03 00:15] #62 closed

[2019-04-03 17:55] Mattimus333 commented on #63
@dancherb I know it's past your deadline, but you can go to the android manifest file and remove this line
    <uses-permission android:name="android.permission.READ_SMS" />
and it will no longer ask the user for the read_SMS permissions.  If you're not using that feature, it should be fine.

[2019-04-04 20:25] Orteu opened #66 "Issue on callback when trying to get the sms status"
Hello there.
I'm trying to get the status of the sms using the function on your example ("someFunction") but as soon as the sms app opens it goes directly to cancelled. I would need to get a success status when the sms is sent. Is it possible? Thanks very much

[2019-04-10 19:08] muZk commented on #50
same!

[2019-04-17 19:57] iujisato commented on #59
@ObidosDev @robinaugh

Sorry for bringing up this issue again, but can anyone confirm if this crash is occurring on the newest version of the lib?

I'm currently working on refactoring our app to send SMS without needing the READ_SMS permission.

I've seen that the PR that @robinaugh made never got merged, and I don't have any xioami device to test this scenario.

Thanks for the issue report by th

[2019-04-17 20:09] robinaugh commented on #59
@iujisato I would assume that this _is_ still an issue in the latest release, but I also was never able to test (either the released library or my branch) on a physical xioami device.

I believe [the Play Store is now preventing non-messaging apps from accessing the `READ_SMS` permission](https://www.xda-developers.com/google-play-developer-policy-call-log-sms/), so any such app using this library

[2019-04-18 21:13] iujisato commented on #59
@robinaugh thanks for the answer!

@tkporter any hope of #60 being merged in any future release? I don't like to use custom forks for production apps, so if #60 never got merged it would be better to think on another solution for my app.

[2019-04-28 13:27] predescu commented on #30
For anyone having this issue, if you are using Pods:
`pod install --project-directory=./ios`

[2019-05-13 17:25] RafaelFeiten commented on #63
Alguma solução quanto a isso?

[2019-08-07 19:59] Chad-Mowbray opened #67 "MainApplication.java"
New at this so apologies.  In MainApplication.java is the following:

[code]
but the readme shows:

[code]
Is there a way to get "SendSMSPackage.getInstance()" to work in there?

[2019-08-08 01:42] tkporter commented on #67
Hi! I haven’t tried this myself but you should be able to do `packages.add(SendSMSPackage.getInstance());` above the return statement

[2019-08-08 17:09] Chad-Mowbray commented on #67
Thanks for responding.  I actually got it to work by not adding it at all.  With the import statement, maybe the method just includes everything?

[2019-08-19 09:54] BaderSerhan opened #69 "react-native upgrade deprecating rnpm"
Upgrading `react-native` version to `0.60.5` is showing this warning regarding this library.

`warn The following packages use deprecated "rnpm" config that will stop working from next release`

Please fix this so that we continue to use your library with `react-native` upgrades :)

[2019-09-20 21:49] lasharela opened #71 "In callback function all parameters are false only on Android"
Here is a peace of code:

[code]

For any Android after sms send completed, cancelled and error are false

[2019-09-25 04:03] picodoth opened #72 "Is there a particular reason why sending message in background is not supported?"
In the readme, there is a section describing

[code]

Is there a particular reason for not doing it? I'm very new to this and thanks your time for answering!

[2019-09-26 06:44] teddyhendryanto-azurei opened #73 "Callback always return error = true even sms sent"
Hi @tkporter

Thank you for your awesome package.
I'm able to integrate your package to my RN-app.
But I'm facing an issue while checking the callback function, it always return error = false.
I use same code as your example:
`
SendSMS.send({
                        body: 'The default body of the SMS!',
                        recipients: ['6285921010637'],
                        successTypes: ['

[2019-09-27 16:11] tkporter commented on #72
Hey! There’s a PR that does this for Android that’s been open for ages (#33) that I’ve been meaning to merge with some cleanup (particularly make sure that the permissions needed for that aren’t required)

As for iOS, Apple doesn’t allow background sms for security reasons :)

[2019-10-02 16:24] tkporter commented on #73
Interesting, have you tried with a different phone/android version? Sometimes there’s some weird behavior with different ones phones. It could also be a bug when `allowAndroidSendWithoutReadPermission` is true

[2019-11-11 00:19] chuyeoh commented on #72
Please check the google app store. If your app is not a Communication type Application, you are not allowed to use the SMS permission.

I would advice to use the same method as iOS where it redirects to a SMS type Application

[2019-11-13 13:57] wzalazar commented on #59
I tested with my Xiaomi and issue persist, I used the version "react-native-sms": "1.8.0"

is there any plan to solve?

[2019-11-27 05:24] tkporter commented on #59
Published under `1.10.0`, closing for now

[2019-11-27 05:24] #59 closed

[2020-01-10 06:35] realgsong opened #75 "react-native-sms: Appears to be a git repo or submodule"
I got following error when npm install

[code]
 https://github.com/avishayil/react-native-restart/issues/71#issuecomment-481202492
It looks like .git is included in library deployment.

[2020-01-15 10:35] josegamboa opened #76 "Callback is not being executed after sending the sms successfully"
it seems like there is no way to know when the sms is successfully sent, the callback is not being called after sending the SMS on android. but, if I  do cancel the sms taping back, it gets into the callback. otherwise it does not know it. is there any delay or something when the sms has been sent?

SendSMS.send({
        body: 'The default body of the SMS!',
        recipients: ['0123456789', '98

[2020-01-15 14:47] sirajahmad1 opened #77 "Remove .git from package"
**It's not letting npm to install other packages after installing react-native-sms in the project**

[2020-01-30 20:35] kamrankamrani opened #78 "is react native link needed for RN>0.6?"
most modules in RN>0.6 is no longer needed react-native-link.
Is this module want this command or not?
best regards... kamran

[2020-02-05 18:03] #78 closed

[2020-02-06 14:04] ashleypeacock commented on #35
Tried this on Nexus 6 and Pixel 2 XL emulator and it can't take multiple recipients.

[code]

is the issue. To work the deliminator needs to be a "," instead of a semi-colon.

Code works fine on Nokia 7 device.

[2020-02-06 20:21] tkporter commented on #35
@ashleypeacock nice find! Would you be able to open up a PR with that change?

[2020-02-07 14:22] soliloquyx opened #79 "[Android] Not being redirected back to app after sending an SMS"
After successfully sending an sms, I'm currently not being automatically redirected to my app. For that, I have to push the back button. Surely this is something that should be built-in to this library, is it not?

If so, how to implement?

(I am testing on Samsung Galaxy S8)

[2020-03-05 10:29] mi5ha opened #81 "Does this project needs maintainers?"
There are some serious issues that will break this project very soon as RN versions go up.

Is someone on top of this? Or this project needs maintainers?

[2020-03-05 21:21] cheekw commented on #77
Bump, still having the same issue on react-native-sms 1.10.0

[2020-03-06 12:26] tkporter commented on #77
Just pushed `1.10.1` with the fix, thank you!

[2020-03-06 12:26] #77 closed

[2020-03-06 12:27] tkporter commented on #81
Hey @mi5ha, I don't use RN much these days so any help is greatly appreciated. What issues are on the horizon?

[2020-03-08 07:16] mi5ha commented on #81
@tkporter I would be glad to help with some updates.

For example these look urgent:
- [Appears to be a git repo or submodule](https://github.com/tkporter/react-native-sms/issues/75), I could not run until solved this locally
- It get this warning: The following packages use deprecated "rnpm" config that will stop working from next release
- It doesn't use new auto linking

[2020-03-23 22:45] soliloquyx opened #82 "[Android] Photo attachments not being passed to SMS app"
Attaching photos to a text message throws an error:

exposed beyond app through Intent.getData()

![Photo-Attachment-Error](https://user-images.githubusercontent.com/22452741/77369809-21d73600-6d68-11ea-9395-eff219382f54.jpg)

[2020-03-25 09:49] soliloquyx commented on #82
This was an issue with the react-native-image-crop-picker library

[2020-03-25 09:49] #82 closed

[2020-03-26 10:11] UnableHead commented on #79
Hi,

Did you tried with the android permission READ_SMS and without the option allowAndroidSendWithoutReadPermission ?

[2020-03-26 10:11] UnableHead commented on #76
Hi,

Did you tried with the android permission READ_SMS and without the option allowAndroidSendWithoutReadPermission ?

[2020-03-26 10:12] UnableHead commented on #71
Hi,

Did you tried with the android permission READ_SMS and without the option allowAndroidSendWithoutReadPermission ?

[2020-03-26 10:55] soliloquyx opened #84 "[Feature request - Android] Sending multiple attachments"
Would be a beneficial add-on to this library. We tried to figure it out by using ACTION_SEND_MULTIPLE, but couldn't get it to work.

[2020-03-26 12:37] soliloquyx commented on #79
Unfortunately, our app doesn't qualify as a default texting/calling app, so we can't use the READ_SMS permission.

[2020-03-27 09:38] rotobogdan commented on #69
Please fix this

[2020-04-01 11:18] tkporter commented on #81
@mi5ha Any help would be really appreciated-- I don't have much bandwidth at the moment for side projects. I'd really like to keep this project going, so let me know how I can help you ramp up!

[2020-04-07 15:38] mi5ha commented on #81
@tkporter If it would help, I could invest some time in reviewing PR and merging them, and solving some issues, like existance of .git for example and submitting PRs. Tell me what would help?

[2020-04-07 19:13] avenyproduction opened #85 "Android app rejected due to READ_SMS permission"
I am creating an radio-player app, and I use react-native-sms on a contact page to allow users to send an Sms message to the radio station during live shows.
I have declared core functionality as: Default SMS handler on Google Play Store and I understand that it is wrong, my app's core functionality is not sending SMS. I want app users to be able to open SMS app and send a message to predefined nu

[2020-04-08 10:57] tkporter commented on #81
@mi5ha That would be very useful. Those 3 you referenced seem the most urgent-- I think it'd also be worth some time for us to think about how we can change up the permission structure for Android. Feel free to email me directly at trkporter@ucdavis.edu as well

[2020-04-27 01:55] smangat2017 commented on #79
Is there any to redirect back to the main app in the event that the READ_SMS permission is not enabled once a message is sent?

[2020-06-05 21:22] kaushil111 commented on #76
I did try with `READ_SMS` and without `allowAndroidSendWithoutReadPermission` but it does not respond to the callback. Works well on `iOS` only.  Also, if I come back from SMS screen, the callback says sending cancelled

[2020-06-16 16:55] brunodlabs commented on #85
Hey @avenyproduction did you solve this? What message did you use? :)

[2020-06-17 06:39] avenyproduction commented on #85
Hi,
I have solved it using this line in /android/app/src/main/AndroidManifest.xml

<uses-permission android:name="android.permission.READ_SMS" tools:node="remove" />

[2020-06-17 06:39] #85 closed

[2020-06-18 21:29] brunodlabs commented on #85
Hey @avenyproduction what line?

[2020-06-19 00:07] brunodlabs commented on #76
Same here. Did you find any solution for this?

[2020-06-19 00:16] brunodlabs commented on #79
Hey @smangat2017 did you find any solution for this?

[2020-06-19 02:48] smangat2017 commented on #79
Unfortunately not @brunodlabs!

[2020-06-23 02:38] jorgeramhrbl opened #87 "Camera Icon is disabled to send pictures on iOS 13"
When opening the message app with "Send SMS.send(..)" on iPhone XR with iOS 13.5.1, the camera icon is disabled. Is a permission required in order to enable it?

[2020-08-10 10:07] nihp commented on #63
Same here. Any other solution

[2020-09-20 05:22] aminmeshk opened #89 "AndroidSuccessTypes is undefined"
I'm using TypeScript 4.0.2.
When I want to call this method with `AndroidSuccessTypes` for `successTypes`, it gives runtime error:

`import SendSMS, { AndroidSuccessTypes } from 'react-native-sms';`
[code]

`[Sun Sep 20 2020 09:32:02.246]  ERROR    TypeError: Cannot read property 'sent' of undefined, js engine: hermes`

And when I log the `AndroidSuccessTypes `, it is actually undefined:
`console.

[2020-10-16 16:17] smkamranqadri opened #91 "Error true in iOS immediately while android working"
Hi,

All steps done and android is working but for iOS nothing happens, just calling the sendSMS function I receive error true and reset false.

Anyone one have issue like this or am I missing something?

[2020-10-22 10:23] cfmitrah commented on #91
I m also having this issue any suggestion for this?

[2020-10-28 06:01] mbellamy commented on #91
@smkamranqadri
@cfmitrah

Looks like it works if you use it on physical device.

[2020-10-29 19:23] smkamranqadri commented on #91
Yes, it's working on physical device but not on simulator.

[2020-10-29 19:23] #91 closed

[2020-12-03 13:36] sri-chandu commented on #25
Initially i faced this issue and ended up here, then i decided to explore source code of  react-native-sms package.  I found out that developer used NativeModules from react-native. so i directly imported NativeModules it into my component. Guess what, its working now
![image](https://user-images.githubusercontent.com/31109083/101024756-91115500-359a-11eb-87dc-b50f410f4535.png)

[2021-01-01 12:21] ZaidQ797 opened #92 "How we can send sms from our app"
,When I call SendSMS.send() it opens android sms app

[2021-01-12 19:20] ptsimpso opened #93 "Downloading and attaching an image on Android"
Providing a remote URL for image attachment works fine on iOS, but fails to attach an image on Android. I am attempting to use react-native-fetch-blob to download the image first, however when I try to provide the downloaded image file url, I get a "exposed beyond app through clipdata.item.geturi()" error.

Does anybody know how to properly download an image on Android and then provide it as an at

[2021-01-17 23:31] orsaada opened #94 "SMS Callback: completed: false cancelled: falseerror: true"
hey, i run it and get this log:
SMS Callback: completed: false cancelled: falseerror: true

what could be the problem?
i followed the instructions

[2021-02-09 11:11] sarabm commented on #94
For iOS make sure you are running on an actual device and not a simulator!

[2021-02-23 18:19] mumersaleem commented on #89
Anyone else having the exact same problem? AndroidSuccessTypes is defined in module but when imported, is undefined.

[2021-02-24 11:12] chetan-sharma-newput opened #95 "Unable to get success callback even i sent the message successfully."
I am now getting the success callback even I sent the SMS to the selected recipient. Everytime I am getting a canceled callback.

Here's my code --

[code]

[2021-02-24 13:32] janne commented on #89
It's due to the `AndroidSuccessTypes` enum is exported from the `index.d.ts`, which doesn't seem to work. Something like this should work:

[code]

[2021-03-02 09:12] sahanjith commented on #85
Anyone found a solution for this issue? Even my app got rejected because of this issue.

[2021-05-11 09:40] avlonder opened #96 "Doesn't work on iOS"
on iOS 14.4 (in simulator), the following code prints "true":
[code]

[2021-05-18 23:13] mnifakram commented on #63
I managed to bypass this issue by passing this option `allowAndroidSendWithoutReadPermission: true` and changing the permission from `<uses-permission android:name="android.permission.READ_SMS" />` to `<uses-permission android:name="android.permission.SEND_SMS" />`. In my case I only need to send SMS, hopefully it helps someone.

[2021-06-08 10:27] ajaymarathe commented on #96
same issue here - ```console.log(error));``` error is printing ```true```. Is this package not work with ios simulator, because same code work fine on android real device :)

[2021-06-08 10:28] ajaymarathe commented on #94
yes, i think so, it's look like ios simulator not supporting here :(

[2021-06-14 02:02] tkporter commented on #92
Hey! Do you mean to send an SMS directly without opening the SMS app? There was a PR that was opened for this ages ago that was intentionally never merged. I'd be open to merging a PR that revives the effort :)

[2021-06-14 02:03] tkporter commented on #94
As the others mentioned this is a limitation of the iOS simulator-- see https://stackoverflow.com/questions/9012393/testing-sms-in-the-ios-simulator

Closing for now

[2021-06-14 02:03] #94 closed

[2021-06-14 02:04] tkporter commented on #96
Yeah, this is unfortunately a limitation of the simulator-- see https://stackoverflow.com/questions/9012393/testing-sms-in-the-ios-simulator

[2021-06-14 02:04] #96 closed

[2021-06-14 02:05] tkporter commented on #95
What device are you running this on?

[2021-06-14 06:13] chetan-sharma-newput commented on #95
I was using Xiaomi A3 android device, Android 10 version.

[2021-06-17 04:45] ZaidQ797 commented on #92
Hi @tkporter  thanks and I wrote native module for sending sms directly Thanks

[2021-07-01 04:39] kpc0511 commented on #95
Hi @tkporter, this issue is resolved?

[2021-08-18 10:48] stevennt opened #97 "Force SMS (disable MMS)"
Hi all,
Is there an option to force the use of SMS and disable MMS while composing the message? My particular issue is that when creating a message to a group of recipients, it creates and sends as MMS. This MMS then fails because of several restriction on the network. Therefore in my use case, I wish to force it as SMS always and never MMS. Thanks for suggestions.

[2021-08-18 16:50] kotolapki commented on #79
i have a similar problem, when i send sms the app is minimized,  tried with the android permission READ_SMS and without the option allowAndroidSendWithoutReadPermission but it did not helpful

[2021-09-01 19:06] hharrari-labs commented on #30
Hello

I have the same problem on my iphone only.
I cleaned up the project and relaunched it but it always comes back.

Do you have any solutions

[2021-09-07 07:30] Sidharth1999 opened #98 "Adding hyperlinks to an SMS"
Do you think you could add a feature to add hyperlinks to a drafted message?
Thanks,
Sidharth

[2021-09-12 16:10] akimabs commented on #79
just delete this code android:launchMode="singleTask"

[2021-09-28 10:33] ZaidQ797 commented on #92
We have to write native module to send SMS directly from the react native app using SIM.
here is the link you can see example []https://aboutreact.com/send-text-sms-in-react-native/

[2021-10-14 05:45] ManhVuTien commented on #85
Hi @avenyproduction , what line have you added in android/app/src/main/AndroidManifest.xml?

[2021-11-15 08:37] UraanAmritansh opened #99 "SendSms callback is always giving error as true in IOS"
Here is my code
  SendSMS.send(
            {
                // Message body
                body: shareUrl,
                // Recipients Number
                // recipients: [],
                // An array of types
                // "completed" response when using android
                // successTypes: ['sent', 'queued'],
            },
            (completed, cancelled, error) => {

[2021-12-11 01:22] crayne commented on #99
Apparently sendSMS doesn't work on an IOS Simulator.  I had that problem, and the same code worked on a real IOS device.

[2022-01-13 01:54] shivanitp commented on #23
hello
if is there a 2 sim cards on the phone then can we give the option to choose from which sim card msg will be sent ?
or we set default sim card option ?
help me on this

[2022-04-14 00:40] kratik-agrawal opened #102 "Can't link Correctly"

[2022-05-04 20:37] Florido14 commented on #93
hi i same the same issue, you find a solution? i try differents ways to solve this but i dont find any solution

[2022-05-05 18:52] Florido14 opened #103 "send with attachment get error"
Hi i take a picture with react-native-image-picker and i want send the uri from the image but only get this error:
![279263499_2194127754083366_3143036608929144228_n](https://user-images.githubusercontent.com/51244465/167003215-3a706bdb-97f6-4492-a35f-95658b40b8f5.jpg)
I have tried to do it like 'data:image/png;base64,' + base64 but an error appears : 'message failed to load attachment'
my code :

[2022-05-12 11:28] eramudeep commented on #96
not even working on real device
i tried adding recipients with country code, without country code, zero instead of country code
it says sms sending failed

[2022-08-04 20:37] pabloearg opened #105 "Change jcenter to maven in the build.gradle file"
Due to jcenter shutdown, it will be great if you could change the dependency

[2022-09-15 08:53] tkporter commented on #105
Hi, would you be up for submitting a PR?